<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Do It</title>
    <link rel="stylesheet" href="style.css">
    <script src="../renderer.js"></script>
</head>
<body>
    <header>
        <h1>Do It!</h1>
    </header>
    <main>
        <div id="mainDiv">
            <div id="listadoTareas">
                <!--<div class="tarea">
                    <h3 class="textoTarea">Recoger las hojas del jardin</h3>
                    <img src="../../icons/details.png">
                </div>
                <div class="tarea">
                    <h3 class="textoTarea">Hacer tarea de Agustín</h3>
                    <img src="../../icons/details.png">
                </div>
                <div class="tarea">
                    <h3 class="textoTarea">Programar una anguila eléctrica</h3>
                    <img src="../../icons/details.png">
                </div>
                <div class="tarea">
                    <h3 class="textoTarea">Matar al francotirador de la piscina</h3>
                    <img src="../../icons/details.png">
                </div>-->
            </div>
    
            <div id="btnAgregar">
                <h3 id="textobtnAgregar">Agregar Tarea</h3>
            </div>
        </div>
    </main>
</body>
</html>