header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15%;
    background: linear-gradient(180deg, #C20909 0%, rgba(217, 217, 217, 0.00) 100%);
}

h1 {
    color: #000;
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
}

main {
    display: flex;
    justify-content: center;
    width: 100%;
}

#mainDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#listadoTareas {
    width: 860px;
    height: 481px;
    background-color: #D1FFC1;
}

.tarea {
    display: flex;
    flex-direction: row;
    width: 834px;
    height: 74px;
    background-color: #76C897;
    margin-left: 11px;
    margin-right: 15px;
    margin-top: 13px;
    margin-bottom: 21px;
}

.textoTarea {
    width: 771px;
    height: 74px;
    flex-shrink: 0;
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
}

#btnAgregar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 241px;
    height: 62px;
    margin-top: 44px;
    background-color: #F5A7A7;
}

#textobtnAgregar {
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
}

img {
    padding-top: 20px;
    height: 34px;
    width: 34px;
}